.about-content {
  display: flex;
  margin-left: 230px;
}
.profile-img {
  margin: 100px 40px 50px 100px;
}
.profile-img img {
  height: 350px;
  width: 300px;
  border-radius: 10px;
}
.about {
  margin: 120px 100px 50px 50px;
}
.about h1 {
  text-align: center;
  color: #138781;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}
.about p {
  text-align: justify;
  margin-top: 50px;
  font-size: large;
  color: #1e1e2c;
  line-height: 2rem;
}
